Repository mitre/arlin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages

flake8:
  stage: Static Analysis
  tags:
  - pages
  script:
  - poetry install --only dev
  - poetry run flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - pages
  script:
  - poetry install --only dev
  - poetry run black --check ./
  needs: []

isort:
  stage: Static Analysis
  tags:
  - pages
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - pages
  script:
  - poetry install --only dev
  - poetry run bandit -r .
  needs: []

coverage:
  stage: Tests
  tags:
  - pages
  script:
  - poetry install --with coverage
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage run -m pytest
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage report -i
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage xml -i
  ...

test-pages:
  script:
  - poetry env use python3.9
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - pages
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

Deploying to gh-pages from @ mitre/arlin@51c57aaa1599a921b99f25597c35185943dfcbd9 🚀
  _sources/tutorials/adversarial.md.txt
  _sources/tutorials/explainable.md.txt
  tutorials/adversarial.html
  tutorials/explainable.html
Due: none

adversarial commit
  arlin/adversarial/__init__.py
  arlin/adversarial/attacks.py
  arlin/adversarial/metrics.py
  arlin/adversarial/utils.py
  arlin/analysis/latent_analysis.py
  arlin/analysis/visualization/visualization.py
  arlin/samdp.py
  examples/attack.ipynb
  examples/models/cluster_algos.npy
  poetry.lock
Due: flake8, black, isort, bandit, coverage, test-pages

Deploying to gh-pages from @ mitre/arlin@e089ce29a19c3586e91ad4e4fbd9e255bc56bd64 🚀
  _sources/autoapi/arlin/analysis/latent_analysis/index.rst.txt
  _sources/tutorials/explainable.md.txt
  autoapi/arlin/analysis/latent_analysis/index.html
  tutorials/explainable.html
Due: none

small changes
  docs/source/overview.md
  docs/source/tutorials/index.rst
  examples/attack.ipynb
Due: test-pages

fixed tests not passing due to node name changes
  tests/test_samdp.py
Due: flake8, black, isort, bandit, coverage, test-pages

remove .vscode from git
  .gitignore
Due: none

fixing patch order
  .vscode/launch.json
  arlin/analysis/cluster_analysis.py
Due: flake8, black, isort, bandit, coverage, test-pages

tests for utils and metrics
  arlin/adversarial/metrics.py
  arlin/adversarial/utils.py
  tests/test_adversarial/test_attacks.py
  tests/test_adversarial/test_metrics.py
  tests/test_adversarial/test_utils.py
  tests/test_samdp.py
Due: flake8, black, isort, bandit, coverage, test-pages

adversarial tests
  arlin/adversarial/attacks.py
  tests/conftest.py
  tests/test_adversarial/test_attacks.py
  tests/test_analysis/test_cluster_analysis.py
  tests/test_analysis/test_latent_analysis.py
  tests/test_samdp.py
Due: flake8, black, isort, bandit, coverage, test-pages

changes from public github in docs
  .gitignore
  README.md
  arlin/analysis/latent_analysis.py
  assets/arlin_structure.png
  assets/readme_example.png
  docs/images/arlin_logo.png
  docs/source/_static/adversarial/gifs/arlin.gif
  docs/source/_static/adversarial/gifs/baseline.gif
  docs/source/_static/adversarial/gifs/preference75.gif
  docs/source/_static/adversarial/gifs/worst_1.gif
  docs/source/_static/adversarial/gifs/worst_10.gif
  docs/source/_static/adversarial/samdp_terminals_23.png
  docs/source/_static/explainable/cluster_analytics.png
  docs/source/_static/explainable/latent_analytics.png
  docs/source/_static/explainable/samdp_simplified.png
  docs/source/_static/explainable/state_analysis.png
  docs/source/conf.py
  docs/source/tutorials/adversarial.md
  docs/source/tutorials/explainable.md
  tests/test_analysis/test_latent_analysis.py
Due: flake8, black, isort, bandit, coverage, test-pages

workflows for github
  .github/.workflows/pages.yml
Due: none

removing test with SSL errors for pipeline
  tests/test_dataset/test_loaders/test_sb3_loaders.py
Due: flake8, black, isort, bandit, coverage, test-pages

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock
