Repository mitre/arlin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages

.gitlab-ci.yml:

image: "python:3.9"

before_script:
  - python --version
  - curl -sSkL https://install.python-poetry.org | python -
  - export PATH=$PATH:$HOME/.local/bin
  - poetry --version

stages:
  - Static Analysis
  - Security
  - Tests
  - Documentation

###################
# Static Analysis #
###################
flake8:
  stage: Static Analysis
  tags:
    - pages
  script:
    - poetry install --only dev
    - poetry run flake8 .
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock
      - .flake8

black:
  stage: Static Analysis
  tags:
    - pages
  script:
    - poetry install --only dev
    - poetry run black --check ./
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock

isort:
  stage: Static Analysis
  tags:
    - pages
  script:
    - poetry install --only dev
    - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock


############
# Security #
############
bandit:
  stage: Security
  tags:
    - pages
  script:
    - poetry install --only dev
    - poetry run bandit -r .
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock


#########
# Tests #
#########
coverage:
  stage: Tests
  tags:
  - pages
  script:
    - poetry install --with coverage
    - SDL_VIDEODRIVER=dummy poetry run python -m coverage run -m pytest
    - SDL_VIDEODRIVER=dummy poetry run python -m coverage report -i
    - SDL_VIDEODRIVER=dummy poetry run python -m coverage xml -i
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs: []
  timeout: 20m
  only:
    refs:
      - merge_requests
      - main
    changes:
      - "**/*.py"
      - poetry.lock


#################
# Documentation #
#################

.pages:
  script:
    - poetry env use python3.9
    - poetry install --only docs
    - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
    - mv docs/build/html public/

test-pages:
  stage: Documentation
  tags:
    - pages
  extends: .pages
  artifacts:
    expose_as: 'HTML Documentation'
    paths:
      - public/
    expire_in: 1 week
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - docs/**/*
      - poetry.lock

pages:
  stage: Documentation
  tags:
    - pages
  extends: .pages
  only:
    refs:
      - merge_requests
  artifacts:
    paths:
      - public

dataset tests
  arlin/dataset/collectors/datapoints.py
  arlin/dataset/collectors/sb3_collectors.py
  arlin/dataset/loaders/sb3_loaders.py
  arlin/dataset/xrl_dataset.py
  tests/test_dataset/test_collectors/test_datapoints.py
  tests/test_dataset/test_collectors/test_sb3_collectors.py
  tests/test_dataset/test_loaders/test_sb3_loaders.py
  tests/test_dataset/test_xrl_dataset.py
Due: flake8, black, isort, bandit, coverage, test-pages

added dataset tests and bug fixes, added generation tests
  arlin/dataset/xrl_dataset.py
  arlin/generation.py
  tests/test_dataset/test_xrl_dataset.py
  tests/test_generation.py
Due: flake8, black, isort, bandit, coverage, test-pages

added docs for new methods
  arlin/generation.py
Due: flake8, black, isort, bandit, coverage, test-pages

fixed bug with episodes only truncating, finished latent tests
  arlin/analysis/latent_analysis.py
  arlin/dataset/xrl_dataset.py
  arlin/generation.py
  tests/test_analysis/test_latent_analysis.py
  tests/test_analysis/test_visualization/test_visualization.py
  tests/test_dataset/test_xrl_dataset.py
Due: flake8, black, isort, bandit, coverage, test-pages

cluster analytics tests
  arlin/analysis/cluster_analysis.py
  arlin/dataset/xrl_dataset.py
  arlin/generation.py
  tests/test_analysis/test_cluster_analysis.py
  tests/test_analysis/test_latent_analysis.py
  tests/test_dataset/test_xrl_dataset.py
Due: flake8, black, isort, bandit, coverage, test-pages

tests for samdp
  .vscode/launch.json
  arlin/dataset/xrl_dataset.py
  arlin/samdp.py
  tests/test_samdp.py
Due: flake8, black, isort, bandit, coverage, test-pages

change to test ci
  .gitlab-ci.yml
Due: none

fixes to example files
  examples/attack.ipynb
  examples/mvp.ipynb
  examples/usage.ipynb
Due: none

pipeline fixes
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages

pipeline fixes
  arlin/dataset/xrl_dataset.py
  poetry.lock
  pyproject.toml
  tests/test_dataset/test_xrl_dataset.py
Due: flake8, black, isort, bandit, coverage, test-pages

pipeline fixes
  pyproject.toml
Due: none

pipeline fixes
  .gitlab-ci.yml
Due: none

versioning changes
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .python-version
  README.md
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages

versioning changes
  .gitlab-ci.yml
Due: none

trying to fix swig
  .gitlab-ci.yml
  pyproject.toml
Due: none

trying to fix swig
  poetry.lock
Due: flake8, black, isort, bandit, coverage, test-pages

swig fix
  .gitlab-ci.yml
  docs/source/index.rst
Due: test-pages

swig fix by installing externally (poetry uses wrong swig)
  .gitlab-ci.yml
Due: none

fixes for tests to use TSNE
  .gitlab-ci.yml
  arlin/generation.py
  poetry.lock
  pyproject.toml
  tests/test_analysis/test_latent_analysis.py
  tests/test_generation.py
  tests/test_utils/test_saving_loading.py
Due: flake8, black, isort, bandit, coverage, test-pages

fixing tests
  tests/conftest.py
  tests/test_analysis/test_cluster_analysis.py
  tests/test_analysis/test_latent_analysis.py
  tests/test_dataset/test_collectors/test_base_collectors.py
  tests/test_dataset/test_collectors/test_datapoints.py
  tests/test_dataset/test_collectors/test_sb3_collectors.py
  tests/test_dataset/test_loaders/test_sb3_loaders.py
  tests/test_dataset/test_xrl_dataset.py
  tests/test_generation.py
  tests/test_samdp.py
  tests/test_utils/test_saving_loading.py
Due: flake8, black, isort, bandit, coverage, test-pages

fixing tests
  tests/conftest.py
  tests/test_dataset/test_collectors/test_sb3_collectors.py
Due: flake8, black, isort, bandit, coverage, test-pages

fixing docs
  arlin/dataset/xrl_dataset.py
Due: flake8, black, isort, bandit, coverage, test-pages

fixing docs
  docs/source/index.rst
  docs/source/overview.md
Due: test-pages

readding huggingface
  examples/attack.ipynb
  examples/mvp.ipynb
  examples/usage.ipynb
  tests/test_dataset/test_loaders/test_sb3_loaders.py
Due: flake8, black, isort, bandit, coverage, test-pages

additions
  arlin/analysis/cluster_analysis.py
  examples/attack.ipynb
Due: flake8, black, isort, bandit, coverage, test-pages

Update file README.md
  README.md
Due: none

removing ds_store
  .DS_Store
Due: none

pages workflow addition
  .DS_Store
  .github/workflows/pages.yml
Due: none

Update pages.yml
  .github/workflows/pages.yml
Due: none

removing DS_Store
  .DS_Store
  .gitignore
Due: none

updated deploy action tag
  .github/workflows/pages.yml
Due: none

update checkout action
  .github/workflows/pages.yml
Due: none

trying to fix deploy action
  .github/workflows/pages.yml
Due: none
